.collapse-custom {
  width: 85%;
  cursor: default;
  position: absolute;
  margin-top: 974px;
  margin-left: 161px; }
  .collapse-custom .navbar-tool {
    display: none; }
  .collapse-custom .navbar {
    width: 75%;
    position: relative;
    top: 30px;
    left: 20%;
    margin-bottom: 0;
    border-radius: 0;
    border-bottom: none; }
    .collapse-custom .navbar .btn-xs {
      font-size: inherit; }
    .collapse-custom .navbar li ul {
      list-style-type: none;
      padding-left: 15px; }
  .collapse-custom .navbar:last-of-type {
    border-bottom: 1px solid #e7e7e7; }
  .collapse-custom .navbar-heading {
    background-color: rgba(71, 70, 75, 0.6);
    cursor: default;
    font-weight: bold;
    font-size: 16px; }
    .collapse-custom .navbar-heading li {
      color: white;
      padding: 10px 0 10px 0; }
    .collapse-custom .navbar-heading li a {
      color: white; }
      .collapse-custom .navbar-heading li a:hover {
        color: #fff; }
  .collapse-custom .navbar-nav .one {
    left: 70px;
    width: 340px; }
  .collapse-custom .navbar-nav .two {
    width: 250px; }
  .collapse-custom .navbar-nav .three {
    /*      min-width: 120px;*/ }
  .collapse-custom .navbar-nav .four {
    /*      min-width: 110px;*/ }
  .collapse-custom .navbar-nav .five {
    /*      width: 20px;*/ }
  .collapse-custom .collapse-open {
    background-color: #f5f5f5;
    cursor: default; }
  .collapse-custom .panel-body {
    width: 20%;
    cursor: default; }
  .collapse-custom .item-des-name {
    color: rgba(197, 62, 62, 0.9);
    cursor: pointer; }
  .collapse-custom #hidden-content {
    width: 95%;
    padding-left: 45px;
    padding-top: 10px;
    cursor: default; }
    .collapse-custom #hidden-content h5 {
      border-bottom: 2px solid #f2d98e;
      font-family: 'Cabin', sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
      padding-bottom: 6px;
      color: #5f6273;
      cursor: default; }
  .collapse-custom #hidden-right {
    float: right;
    width: 50%;
    cursor: default; }
  .collapse-custom .item-des {
    color: rgba(197, 62, 62, 0.9);
    width: 100px;
    cursor: default; }
  .collapse-custom .nutritional-info {
    display: none;
    list-style-type: none;
    margin-top: 5px;
    color: #737373;
    font-family: 'Cabin',sans-serif;
    font-weight: 500;
    font-size: 13px; }
  .collapse-custom .nutritional-info td {
    border-radius: 5px;
    background-color: #FFF;
    border: 1px solid #EBEBEB;
    float: left;
    text-align: center;
    margin: 0px 3px 0px 0px;
    padding: 2px 3px; }
  .collapse-custom .item-dv {
    color: indianred;
    text-align: center;
    font-weight: bold; }
  .collapse-custom .item-charts {
    cursor: default; }
  .collapse-custom .collapse-custom li {
    display: inline; }
  .collapse-custom .item-count-table {
    margin-left: 60px;
    color: chocolate;
    font-size: 15px;
    cursor: default; }
  .collapse-custom .item-count-key {
    font-weight: bold; }

.navbar-nav {
  cursor: pointer; }

.navbar-collapse {
  cursor: default; }

/********* purchases bar charts *********/
.bar-charts p {
  border-bottom: 3px solid rgba(71, 70, 75, 0.6);
  color: #7c7c7c;
  width: 65%;
  float: right;
  margin-right: 83px;
  margin-top: 154px;
  font-size: 25px;
  padding-bottom: 10px;
  font-weight: bold; }

#bar-charts-container {
  width: 50%;
  margin-top: 55px;
  margin-right: 282px;
  float: right; }

#bar-charts-container .jqplot-point-label {
  border: 1.5px solid #aaaaaa;
  padding: 1px 3px;
  background-color: #eeccdd; }

/********* custom timelinejs ************/
#timeline-embed {
  position: absolute;
  top: 600px;
  left: 378px; }
