.collapse-custom {
  width: 90%;
  cursor: default;
  position: absolute;
  margin-left: 147px;
  margin-top: 180px;

  .navbar-tool {
    display: none;
  }

  .navbar {
    width: 75%; 
    position: relative;
    top: 30px;
    left: 20%;
    margin-bottom: 0;
    border-radius: 0;
    border-bottom: none;

    .btn-xs {
      font-size: inherit;
    }
    li ul {
      list-style-type: none;
      padding-left: 15px;
    }

  }


  .navbar:last-of-type {
    border-bottom: 1px solid #e7e7e7;
  }

  .navbar-heading {
    background-color: rgba(71,70,75, 0.6);
    cursor: default;
    font-weight: bold;
    font-size: 16px;
    
    li {
      color: white;
      padding: 10px 0 10px 0;
    }
    
    li a {
      color: white;
      &:hover {
        color: #fff;
      }

    }
  }

  .navbar-nav {
    .one {
      left: 70px;
      width: 340px;
    }
    .two {
      width: 250px;
    }
    .three {
/*      min-width: 120px;*/
    }
    .four {
/*      min-width: 110px;*/
    }
    .five {
/*      width: 20px;*/
    }
  }

  .collapse-open {
      background-color: #f5f5f5;
      cursor: default;
  }

  .panel-body {
      width: 20%;
      cursor: default;
  }

  .item-des-name{
    color: rgba(197, 62, 62, 0.9);
    cursor: pointer;
    
  }

  #hidden-content{   
      width: 95%;
      padding-left: 45px;
      padding-top: 10px;
      cursor: default;

      h5{
        border-bottom: 2px solid rgb(242,217,142);
        font-family: 'Cabin', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        padding-bottom: 6px;
        color: rgb(95, 98, 115);
        cursor: default;
      }
  }

  #hidden-right{
      float: right;
      width: 50%;
      cursor: default;
  }

  .item-des{
    color: rgba(197, 62, 62, 0.9);
    width: 100px;
    cursor: default;
  }

  .nutritional-info{
    display: none;
    list-style-type: none;
    margin-top: 5px;
    

    color: #737373;
    font-family: 'Cabin',sans-serif;
    font-weight: 500;
    font-size: 13px;
  }

  .nutritional-info td{
    border-radius: 5px;
    background-color: #FFF;
    border: 1px solid #EBEBEB;
    float: left;
    text-align: center;
    margin: 0px 3px 0px 0px;
    padding: 2px 3px;
  }

  .item-dv{
    color: indianred;
    text-align: center;
    font-weight: bold;
  }
  .item-charts{
    cursor: default;
  }

  .collapse-custom li {
    display: inline;
  }

  .item-count-table{
    margin-left: 60px;
    color: chocolate;
    font-size: 15px;
    cursor: default;
  }

  .item-count-key{
    font-weight: bold;
  }

}

 .navbar-nav{
  cursor: pointer;
 }

 .navbar-collapse{
  cursor: default;
}

/********* purchases bar charts *********/
.bar-charts p {
  border-bottom: 3px solid rgba(71, 70, 75, 0.6);
  color: #7c7c7c;
  width: 95%;
  float: right;
  /* margin-right: 263px; */
  /* margin-top: 154px; */
  font-size: 25px;
  /* padding-bottom: 10px; */
  font-weight: bold;
  position: absolute;
  top: 60px;
}

#bar-charts-container {
  width: 50%;
  margin-top: 98px;
  margin-right: 343px;
  float: right;
}

#bar-charts-container .jqplot-point-label {
  border: 1.5px solid #aaaaaa;
  padding: 1px 3px;
  background-color: #eeccdd;
}

/********* custom timelinejs ************/
#timeline-embed{
  top: 10px;
  position: relative;
  right: -39px;
}

#tab_wrapper{
  position: relative;
  top: 175px;
  width: 920px;
  left: 333px;
}

#tab_wrapper li .ui-icon{
  cursor: pointer; 
}
