<!DOCTYPE HTML>
  <html>
  <head>    
    <meta charset="UTF-8">  
    <meta http-equiv="X-UA-Compatiable" content="IE=edge,chrome=1">  
    <title> Pushcart Backbone </title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/table.css">
  </head>
  <body>
   

  <!--   <div class='page-content inset'> -->
    <!-- CUSTOM BOOTSTRAP ELEMENT -->
        <!-- table header -->
    <div class="collapse-custom">
      <!-- HEADING -->
      <nav class="navbar navbar-default navbar-heading" role="navigation">
        <div class="navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="one"><a>Date</a></li>
            <li class="two"><a>Vendor</a></li>
            <li class="three"><a>Total Price</a></li>
          </ul>
        </div>
      </nav>
    </div>
    

  <script type="text/html" id="template-purchase-row">
  <nav class="navbar navbar-default" role="navigation">
    <div class="collapse navbar-collapse collapsed" id="bs-example-navbar-collapse-<%= row_number %>" 
          data-toggle="collapse" href="#purchase-info-<%= id %>">
      <ul class="nav navbar-nav">
        <li class="one"><a><%= formatted_purchase_date %></a></li>
        <li class="two"><a><%= vendor %></a></li>
        <li class="three"><a><%= total_price %></a></li>
      </ul>
    </div>
  </nav>

  <div id="purchase-info-<%= id %>" class="collapse" data-parent="bs-example-navbar-collapse-<%= row_number %>">
    
      <nav class="navbar navbar-default" role="navigation">          
        <div class="nutrition-panel">
            
        </div>
        <div class="items-panel">
                                    
        </div>
        <div class="item-details-panel">
        </div>
      </nav>

    </div> 

  </script>
  
  <script type="text/html" id="template-nutrition-aggregate">

  </script>

  <script type="text/html" id="template-purchase-items">
  <div id="hidden-content">
    <h5> what you bought </h5>
    <table class="table">
        <thead>
          <tr>
            <th> Category </th>
            <th> Description </th>
            <th> Price </th>
            <th> Nutritional values </th>
          </tr>
        </thead>
        <tbody>        
        </tbody>    
    </table>
  </div>
  </script>

  <script type="text/html" id="template-purchase-item-details">

  <div class="charts">
  </div>
  </script>

  <script type="text/html" id="template-purchase-item-row">
    <tr>
      <td> <%= category %> </td>
      <td class="item-des"> <%= description %> </td>
      <td class="item-des"> <%= total_price %> </td>
      <td class="item-charts"></td>
    </tr>
  </script>



  <!-- require lib files -->
  <script src="js/lib/jquery.js"></script>
  <script src="js/lib/chart.js"></script>
  <script src="js/lib/bootstrap.js"></script>
  <script src="js/lib/underscore.js"></script>
  <script src="js/lib/backbone.js"></script>
  <script src="js/lib/moment.js"></script>
  <script src="js/lib/backbone.localStorage.js"></script>
  
  <!-- api call host-->
  <script>
  var pushcartHost ='http://localhost:3000/api/v1/';
  var USER_ID = 1;
  </script>
  

   <!-- require modules -->
  <script src="js/models/purchase.js"></script>
  <script src="js/models/purchaseDetails.js"></script>
  <script src="js/models/purchaseItem.js"></script>
  <script src="js/collections/purchases.js"></script> 
  <script src="js/collections/purchaseItems.js"></script>
  <script src="js/views/purchaseItems.js"></script>
  <script src="js/views/purchases.js"></script>
  <script src="js/views/itemDetail.js"></script>
  <script src="js/views/nutritioncharts.js"></script>
  <script src="js/views/purchaseNutrition.js"></script>
  <script src="js/views/dashboard.js"></script>
  <script src="js/routers/router.js"></script>
  

  
  <script type="text/javascript">

  
    $(function() {     

      var purchases = new PurchaseCollection();

      purchases.on("sync", function() {
        // on "sync", iterate through collection to assign an autoincrementing element id-number to each model 
        this.each(function(model, idx) {
          var options = {
            rowNumber: idx + 1,
            model: model
          };
          $(".collapse-custom").append(new PurchaseView(options).render().el);
        });
      });

      purchases.fetch(); 
    });

  </script>
  </body>
</html>
