body{
  background-color: rgb(245, 245, 245);
}

/********* purchases *********/
/****************************/

.bar-charts p {
  border-bottom: 3px solid rgba(71, 70, 75, 0.6);
  color: #7c7c7c;
  width: 65%;
  float: right;
  margin-right: 185px;
  margin-top: 55px;
  font-size: 25px;
  padding-bottom: 10px;
  font-weight: bold;
}

#bar-charts-container {
  width: 50%;
  margin-top: 50px;
  margin-right: 350px;
  float: right; 
}


/** admin dashboard heading **/
/****************************/

#admin-panel {
  position: relative;
  top: 60px;
  left: 250px; 
}

.admin-header-table {
  color: white;
  background: #8b8b8e; 
}

/***** user side table ******/
/****************************/

.userIdClickable{
 /* cursor: pointer;*/
/*  color: rgba(197, 62, 62, 0.9);
  font-size: 11px;*/
}

.userIdClickable:hover{
/*  color: rgba(197, 62, 62, 0.7) ;
  width: 90px;*/
}

.user-table{
  width: 180px;
  overflow-y: scroll;
  margin-top: 15px;
/*  border-radius: 5px;*/
  margin-left: 5px;
  height: 100%;
  position: absolute;
  background: rgba(71, 70, 75, 0.8);
}

.user-table th {
  font-size: 25px;
  background: none repeat scroll 0% 0% #F5F5F5;
  color: #808080;
  padding-bottom: 8px;
  cursor: default;
  text-align: right;
}

.user-table td, .user-table tr, .user-table a{
  font: 13px/13px Arial, Sans-serif;
  color: white;
  line-height: 25px;
  text-indent: 20px;
/*  text-align: center;*/
  width: 180px;
}

.user-table td{
  border-bottom: 1px solid gray;
  width: 180px;
}

.user-table #user-alias{
  font-size: 10px;
  padding-left: 3px;
}

.user-table tr:hover{
  background: rgba(255,255,255,0.2);
  width: 180px;
  cursor: pointer;
  color: rgb(242, 217, 142);
  text-decoration: none;
}

.user-table a:hover{
  color: rgb(242, 217, 142);
  text-decoration: none;
}

.active{
  color: rgb(242, 217, 142);
}

/***** User Data ******/
/*********************/

.user-info-categories{
/*  width: 11%;
  margin-left: 144px;
  margin-top: 180px;
  position: absolute;
  height: 30px;
  text-align: right;
  color: #47464b;
  font-size: 18px;*/
  position: absolute;
  height: 30px;
  text-align: right;
  color: #47464B;
  font-size: 15px;
  margin-left: 900px;
  margin-top: 15px;
}

.user-info-table{
  margin-left: 1020px;
  color: #47464B;
  position: absolute;
  width: 250px;
  font-size: 15px;
  margin-top: 15px;
}

.user-info-table td{
  margin-left: 3px;
}