body {
  background-color: whitesmoke; }

/*
.placeholder-purchase-text{
  width: 30%;
  position: relative;
  top: 80px;
  left: -140px;
  float: right;
  color: rgb(220,220,220);
}*/
#admin-panel {
  position: relative;
  top: 60px;
  left: 250px; }

.admin-header-table {
  color: white;
  background: #8b8b8e; }

.userIdClickable {
  cursor: pointer;
  color: rgba(197, 62, 62, 0.9);
  font-size: 11px;
  float: right; }

.userIdClickable:hover {
  color: rgba(197, 62, 62, 0.7); }

.user-table {
  /*width: 100%;*/
  width: 20%;
  position: relative;
  right: -230px;
  top: 60px; }

.user-table th {
  font-size: 15px;
  background-color: rgba(71, 70, 75, 0.6);
  color: white;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 5px; }

.user-table td, .table tr {
  font: 13px;
  padding: 10px;
  margin: 20px;
  background-color: #f8f8f8;
  color: #777777; }

/*.user-selected{
  font: 13px;
  padding: 10px;
  margin: 20px;
  background-color: rgba(242, 217, 142, 0.4);
  color: rgb(119, 119, 119);

}
*/
.active {
  background: red;
  color: white; }
