body {
  background-color: whitesmoke; }

#bar-charts p {
  border-bottom: 3px solid rgba(71, 70, 75, 0.6);
  color: #7c7c7c;
  width: 60%;
  float: right;
  margin-right: 40px;
  margin-top: -370px;
  /* color: white; */
  font-size: 25px;
  /* padding-top: 24px; */
  padding-bottom: 10px;
  font-weight: bold; }

#bar-charts-container {
  margin-top: -300px;
  width: 50%;
  margin-right: 160px;
  float: right; }

#admin-panel {
  position: relative;
  top: 60px;
  left: 250px; }

.admin-header-table {
  color: white;
  background: #8b8b8e; }

.userIdClickable {
  cursor: pointer;
  color: rgba(197, 62, 62, 0.9);
  font-size: 11px;
  float: right; }

.userIdClickable:hover {
  color: rgba(197, 62, 62, 0.7); }

.user-table {
  /*width: 100%;*/
  width: 20%;
  position: relative;
  right: -175px;
  top: 60px; }

.user-table th {
  font-size: 15px;
  background-color: rgba(71, 70, 75, 0.6);
  color: white;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 5px; }

.user-table td, .table tr {
  font: 13px/13px Arial, Sans-serif;
  padding: 10px;
  margin: 20px;
  /*background-color: rgba(71,70,75, 0.6);*/
  background-color: #f8f8f8;
  color: #777777; }
