body {
  background-color: whitesmoke; }

.bar-charts p {
  border-bottom: 3px solid rgba(71, 70, 75, 0.6);
  color: #7c7c7c;
  width: 60%;
  float: right;
  margin-right: 90px;
  margin-top: 55px;
  font-size: 25px;
  padding-bottom: 10px;
  font-weight: bold; }

#bar-charts-container {
  width: 50%;
  margin-right: 190px;
  float: right; }

#admin-panel {
  position: relative;
  top: 60px;
  left: 250px; }

.admin-header-table {
  color: white;
  background: #8b8b8e; }

.userIdClickable {
  cursor: pointer;
  /*  color: rgba(197, 62, 62, 0.9);
    font-size: 11px;*/ }

.userIdClickable:hover {
  /*  color: rgba(197, 62, 62, 0.7) ;
    width: 90px;*/ }

.user-table {
  width: 80px;
  background: #47464b;
  position: fixed;
  height: 100%;
  overflow-y: scroll;
  color: white;
  top: 0px; }

.user-table th {
  font-size: 16px;
  background: #47464b;
  color: white;
  padding-top: 25px; }

.user-table td, .user-table tr, .user-table a {
  font: 13px/13px Arial, Sans-serif;
  color: white;
  line-height: 25px;
  text-indent: 20px;
  text-align: center;
  width: 90px; }

.user-table td {
  border-bottom: 1px solid gray;
  width: 80px; }

.user-table a:hover {
  color: #f2d98e;
  /*  background: rgba(255,255,255,0.2);*/
  text-decoration: none; }
