.wrap {
    min-height: 100%;
}

.main {
    overflow:auto;
    padding-bottom: 150px;
}

.login-container {
    border: 1px solid #CCCCCC;
    margin: 50px auto 0 auto;
    width: 300px;
    background:#e5e5e5;
    padding: 20px;
}

.login-container ul li {
    color:white;
    list-style-type:none;
}

.login-container button {
    padding: 10px;
    width: 100px;
}